body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#etchCase {
    width:1350px;
    height:auto;
    background-color: rgb(191, 18, 18);
    border-color: black;
    border-style: solid;
    border-radius: 8%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    padding-top: 10px;
    box-shadow: 10px 10px 7px darkgrey;
}


#container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    
}

h1.honk {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-size: 80px;
  font-weight: 700;
  font-style: normal;
  margin: 20px 0px;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}

.tomorrow-regular {
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.grid-item {
    background-color: white;
    flex: auto;
    width: 30px;
    box-sizing: border-box;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

#buttonContainer{
    display:flex;
    justify-content: space-between;
    width: 1350px;
}

button{
    padding: 10px 15px;
    margin: 30px;
    border-style: none;
    border-radius: 15px;
    font-family: "Tomorrow", sans-serif;
    font-size: 30px;
    background-color: rgb(252, 193, 85);
}

#chageGrid {
    display: flex;
    flex-direction: column;
    width: 170px;
    justify-content: end;
}

.roundButton {
    padding:30px;
    border-radius: 50%;
    background-color: bisque;
    border:solid;
    border-width: 4px;
    box-shadow: -2px 10px 5px;
    width:60px;
    height:60px;

}
